.card {
  width: 300px;
  border-radius: 30px;
}

.card img {
  width: 300px;
}

.rounded_corner {
  border-radius: 10px;
}

.card_image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card_title {
  font-size: 20px;
  font-weight: bold;
}

.location {
  cursor: pointer;
  font-size: 20px;
}
